.details{
    padding: 20px;
}

.button{
    font-size: 15px;
    text-decoration: none;
    border: 1px;
    border-radius: 5px;
    border-color: black;
    background-color: rgba(187, 206, 119, 0.568);
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
    padding: 5px;
}